.container {
  margin: 3rem;
  width: 15rem;
  height: fit-content;
  text-decoration: none;
  position: relative;
}

.container:hover {
  box-shadow: 7px 6px 18px -7px rgba(0,0,0,0.75);
  
}

.container,
a:active {
  text-decoration: none;
  color: inherit;
}

.productImage {
  width: 15rem;
  
}

.shade {
  width: 15rem;
  height: 95%;
  background: rgba(221, 218, 218, 0.437);
  position: absolute;
  top: 0;
  left: 0;
}
.inStock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  color: rgba(128, 128, 128, 0.767);
}
