.wrap {
  display: flex;
  flex-direction: column;
}
.colorsDiv {
  display: flex;
  margin-bottom: 1em;
}

.text {
  font-size: 1em;
  margin: 0.2em;
  padding: 0.4em;
  border: 1px solid black;
}

.text:hover,
.color:hover {
  background-color: #5ece7b;
  cursor: pointer;
}

h4 {
  text-align: left;
}

input {
  margin: 0.2em;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: transparent;
  cursor: pointer;
}

.active {
  border: 2px solid rgb(210, 13, 13);
}
