.buttonCart:hover {
  background-color: #5ece7b;
  border: none;
}

.buttonCart {
  background-color: white;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.boxModal {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-80%, -10%);
  width: 30rem;
  height: 30rem;
  background-color: white;
  overflow-y: scroll;
}

.mainCartTitle {
  text-align: center;
}
