nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  
}

nav li {
  padding: 1em;
  margin: 0 1em;
  font-weight: bold;
}

.cartButton {
  position: absolute;
  top: 2em;
  right: 2em;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav a.active {
  color: #5ECE7B;
}
